body {
  width: 100%;
  margin: 0 auto;
  font-family: Helvetica, "Times New Roman";
  background-color: #AAAAFF;
}
/* Inside of index.php */
#invalid {
 color:red; 
}

#LoginForm {
  margin-top:30vh;
  text-align: center;
  font-size:1.4em;
  font-color:black;
}

